<div class="container">
  <p>我的訂單</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">訂單編號</th>
        <th scope="col">購買人</th>
        <th scope="col">購買人地址</th>
        <th scope="col">付款方式</th>
        <th scope="col">貨品狀況</th>
        <th scope="col">下單時間</th>
        <th scope="col">詳細資訊</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

