<a routerLink="/updatePassword"></a>
<div class="container">
  <div class="row">
    <div class="col-4 mx-auto align-items-center ">
      <p class="resetPwd">設定新密碼</p>
      <form *ngIf="formGroup" [formGroup]="formGroup"  >
        <!-- <div class="mb-3">
          <label for="password" class="form-label">帳號</label>
          <input type="text" class="form-control" formControlName="account" readonly>
        </div> -->
        <div class="mb-3">
          <label for="password" class="form-label">新密碼</label>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="請輸入密碼" >
          <span class="error-message">{{getErrorMessage("password")}}</span>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">確認新密碼</label>
          <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" placeholder="請輸入密碼" >
          <span class="error-message">{{getErrorMessage("confirmPassword")}}</span>
          <!-- <span *ngIf="formGroup.errors?.match">密碼和確認密碼不相符</span> -->
        </div>
        <div class="resetPwd_btn d-flex justify-content-end ">
          <button type="button"  [disabled]="isFormInvalid" class="btn btn-primary " (click)=revisePassword()>更改密碼</button>
        </div>
      </form>
  </div>
  </div>
</div>
