<img src="https://media.istockphoto.com/id/1217972775/photo/female-chef-mixing-yogurt-in-a-bowl.jpg?s=612x612&w=0&k=20&c=BVGVDdNICTlYeeEu1DvTmWLXSoRrkUV_kCbTOk5jRZE=" alt="" class="rounded mx-auto d-block">
<hr>
<div class="section mx-auto d-flex align-items-center">
  <div class="col-1">
  </div>
  <img class="col-md-4" src="https://images.unsplash.com/photo-1606313564200-e75d5e30476c?crop=entropy&cs=srgb&fm=jpg&ixid=M3w0Mzc0NDd8MHwxfHNlYXJjaHwxNnx8ZGVzc2VydHxlbnwwfHx8fDE2OTAzNzAwMTB8MA&ixlib=rb-4.0.3&q=85&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450" alt="" >
  <div class="description pl-5 col-md-6">
    <p class="subject">我們的獨特之處在於將創新和傳統融為一體</p>
    <p >從各地收集最新、最時尚的甜點概念，同時保留傳統的口感和製作工藝。我們深知，每一個人的口味和喜好都是獨特的，因此我們的甜點種類琳瑯滿目，有口感綿密的蛋糕、甜而不膩的馬卡龍，還有多種冰淇淋口味等您來選擇。</p>
  </div>
  <div class="col-1">
  </div>
</div>
<div class="section mx-auto d-flex align-items-center">
  <div class="col-1">
  </div>
  <div class="description col-md-6">
    <p class="subject">使用最新鮮、最高質量的原料製作是我們對品質的堅持和對顧客的尊重</p>
    <p>每一種甜點，都是我們的烘焙師傅們經過無數次試驗、調整比例和烘烤時間，才最終研製出來的。因此，每一口，都是一種獨特的味覺享受。</p>
  </div>
  <!-- width="320px" height="390px" -->
  <img class="col-md-4 pl-5"  src="https://images.unsplash.com/photo-1563729784474-d77dbb933a9e?crop=entropy&cs=srgb&fm=jpg&ixid=M3w0Mzc0NDd8MHwxfHNlYXJjaHw1fHxkZXNzZXJ0JTIwfGVufDB8fHx8MTY5MDQzMjA4NXww&ixlib=rb-4.0.3&q=85&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450" >
  <div class="col-1">
  </div>
</div>
<div class="evaluation">
  <p class="customer_evaluation">顧客評價</p>
  <div class="evaluation_section">
      <ul class="d-flex justify-content-between">
        <li class="section1">
          <img src="https://picsum.photos/60/60?random=1" class="rounded-circle" alt="假的人头照片">
          <p class="username">王曉明</p>
          <p>他們的馬卡龍真的很棒，外層酥脆，內裡柔軟，口感完美。甜點店的員工都很友好，總是帶著微笑服務，讓人感覺非常歡迎。這裡不僅是甜點店，更像是一個充滿愉快氛圍的社區中心。</p>
        </li>
        <li class="section1">
          <img src="https://picsum.photos/60/60?random=2" class="rounded-circle" alt="假的人头照片">
          <p class="username">張小禎</p>
          <p>甜點非常美味，特別是他們的冰淇淋，口味獨特，非常開胃。價格也相當公道。只是有時候人太多，需要等一下才能拿到甜點，但還是非常值得一試</p>
        </li>
        <li class="section1">
          <p></p>
          <p></p>
        </li>
      </ul>
  </div>
</div>
